<div class="form">
    <mat-card class="mat-elevation-z24">
        <mat-card-content>
            <h1>Write Post</h1>
            <form [formGroup]="form" (submit)="$event.stopPropagation()">
                <div [class.disabled]="pending">
                    <mat-form-field>
                        <textarea matInput [formControlName]="'text'" [placeholder]="" rows="3"
                            [hidden]="true"></textarea>
                        <angular-editor [formControlName]="'text'" [config]="config"></angular-editor>
                        <mat-error> Text is invalid!</mat-error>
                    </mat-form-field>
                </div>
                <div class="submit">
                    <button *ngIf="!pending" mat-raised-button color="primary" (click)="submit()">
                        Submit
                    </button>
                    <app-spinner *ngIf="pending"></app-spinner>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>